@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@keyframes gradient-slide{
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  
}
@layer utilities {
  .animated-gradient-text {
    @apply text-transparent bg-clip-text;
    background-image: linear-gradient(270deg, #ff0080, #7928ca, #00ffff, #ffb700, #32cd32, #ff0080);
    background-size: 600% 600%;
    animation: gradient-slide 12s linear infinite;
  }
}

@keyframes scroll {
  to{
    transform: translateX(calc(-100% - 40px));
  }
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sticky{
  position: sticky;
  
}

.stack-icon {
  display: flex;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0),
  );
}

.stack-icon ul{
  list-style: none ;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  margin-right: 2rem;
  justify-content: space-between; /* Changed from space-between to flex-start */
  align-items: center;
  gap: 1rem; /* This controls the spacing between icons */
  animation: scroll 20s linear infinite;
}

.stack-icon:hover {
  animation-play-state: paused;
}

section {
  height: 100vh;
  padding: 2rem;
}
